{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your BookNest account.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you didn't request this, please ignore this email and your password will remain unchanged.

Happy reading,
The BookNest Team
{% endautoescape %}
