{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if show_print_label_button %}
        <li>
            <a href="{{ print_label_url }}" target="_blank" class="viewsitelink" style="background: #264b5d !important; color: white !important; font-weight: bold;">
                🖨️ Print Delivery Label
            </a>
        </li>
         <li>
            <a href="{{ print_receipt_url }}" target="_blank" class="viewsitelink" style="background: #79aec8 !important; color: white !important; font-weight: bold;">
                📄 Print Invoice Receipt
            </a>
        </li>
    {% endif %}
{% endblock %}
